{min_otp_version, "20.2"}.
{erl_opts, []}.
{deps, []}.
{provider_hooks, [
  {pre, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
]}.
{plugins, [pc]}.
{port_env, [
%%  {"x86_64.*-linux", "DRV_LDFLAGS", "$DRV_LDFLAGS -llibvulkan"}
  {"CFLAGS", "$CFLAGS -std=gnu11"},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -L\"/usr/lib/x86_64-linux-gnu/\" -lvulkan"}
]}.
