{min_otp_version, "20.2"}.
{erl_opts, []}.
{deps, []}.
{provider_hooks, [
  {pre, [
    {compile, {rust, compile}},
    {compile, {shaderc, compile}}
  ]}
]}.
{plugins, [
  {rebar3_rust, {git, "https://gitlab.com/regikul/rebar3_rust.git", {branch, "rebar_update"}}},
  {rebar3_shaderc, {git, "https://github.com/regikul/rebar3_shaderc.git", {tag, "0.1.0"}}}
]}.
{shaderc, [{src_dir, "shaders_src"}, {spirv_dir, "priv/spirv"}]}.
